@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto/Roboto-Regular.ttf');
}

:root {
    --black: #181818;
    --green: #09db76;
    --green-a30: rgba(9, 219, 118, 0.3);
    --purple-dark: #5310a7;
    --purple-light: #5c24b6;
    --white: #e7ece5;
}

* {
    color: var(--white);
    font-family: 'Robto', Arial, Helvetica, sans-serif;
    font-size: 24px;
    margin: 0;
    padding: 0;
}

.main-container {
    align-items: center;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

.game-container {
    border: solid var(--purple-light) 4px;
    border-radius: 12px;
    box-shadow: 5px 5px 20px -5px var(--green);
    display: flex;
    height: 80%;
    flex-direction: column;
    width: 80%;
}

.game-info {
    border-radius: 12px;
    display: flex;
    height: 30%;
}

.info-item {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-weight: 700;
    flex: 1;
    gap: 24px;
    justify-content: center;
    text-align: center;
}

.score {
    font-size: 32px;
}

#new-game-button {
    background-color: var(--purple-dark);
    border-radius: 12px;
    display: none;
    font-weight: 700;
    padding: 8px 16px;
}

#new-game-button:hover {
    background-color: var(--purple-light);
    cursor: pointer;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 70%;
    padding: 40px;
}

.game-tile {
    .middle-center {
        border: solid var(--white) 2px;
    }
    .top-center,
    .bottom-center {
        border-left: solid var(--white) 2px;
        border-right: solid var(--white) 2px;
    }
    .middle-left,
    .middle-right {
        border-top: solid var(--white) 2px;
        border-bottom: solid var(--white) 2px;
    }

    :hover {
        border: solid var(--green) 2px;
    }
}

.tile-button {
    background-color: var(--black);
    border: none;
    font-size: 64px;
    height: 100%;
    width: 100%;
}
